
.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  position: relative;
  border: 1px solid black;
  width: 70%;
  height: 100%;
}
.dataContainer {
  position: relative;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
  width: 20%;
  border: 1px solid black;
}